
/* Logo */
.max-logo {
  background: no-repeat url("/public/max_logo.png");
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
}

/* Backgrounds */
.slide-background.blurred {
  opacity: 0.4 !important;
  filter: blur(10px);
}

/* Images */
img {
  border-radius: 1rem;
  /* filter: drop-shadow(.1rem .1rem 1rem rgb(20, 20, 20)); */
  margin: 0px !important;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.noshadow {
  box-shadow: none;
}
.squared {
  border-radius: 0rem;
}
.round {
  border-radius: 50%;
}
.right {
  float: right;
}
.highlight {
  filter: drop-shadow(.1rem .1rem .5rem #fff);
  box-shadow: none;
}
.highlight-gold {
  filter: drop-shadow(.1rem .1rem .5rem rgb(229, 160, 12));
  box-shadow: none;
}
.highlight-title {
  filter: drop-shadow(0rem 0rem .2rem #fff);
  box-shadow: none;
}
.ramoloss {
  opacity: 1;
  position: absolute;
  height: 260px;
  top: 400px;
  left: 100px;
}
.ramoloss-cache {
  opacity: 0;
  z-index: 1000;
  position: absolute;
  height: 140px;
  top: 50px;
  right: 50px;
}

/* Code */

pre.thin {
  width: 60% !important;
}
pre.thiner {
  width: 40% !important;
}
pre.long {
  height: 550px;
}
pre.small {
  font-size: 18px !important;
}
pre.smaller {
  font-size: 16px !important;
}
pre.wide {
  width: 120% !important;
}

/* Text */
p {
  color: rgb(218, 218, 218);
  font-size: 80%;
}
.grey {
  color:rgb(150, 150, 150) !important;
}
.green {
  color:rgb(55, 151, 90) !important;
}
.red {
  color:rgb(206, 56, 2) !important;
}
.bright {
  color: rgb(255, 196, 0) !important;
}
.smaller {
  font-size: 60%;
}
.vertical-middle {
  vertical-align: middle;
}
.pink {
  color: pink;
}

/* Tables */
table {
  font-size: 24px;
}
tr.lvl {
  background-color: rgba(200, 200, 20, 0.3);
}
tr.hp {
  background-color: rgba(20, 200, 20, 0.3);
}
tr.atk {
  background-color: rgba(200, 20, 20, 0.3);
}
tr.def {
  background-color: rgba(20, 20, 200, 0.3);
}
tr.spd {
  background-color: rgba(20, 200, 200, 0.3);
}
tr.spc {
  background-color: rgba(200, 20, 200, 0.3);
}
td.center {
  text-align: center !important;
}

/* Columns */

.container {
  display: flex;
}
.container.wide {
  width: 120% !important;
}
.container.wide > col > pre {
  padding-left: 5px;
  padding-right: 5px;
}
.col {
  flex: 1;
}
.col-wide {
  flex: 2;
}

/* Lists */

li.no-dot {
  list-style-type: none;
}

ol.summary {
  background-color: rgba(20, 20, 20, 0.8);
  padding: 20px 20px 20px 60px;
  text-shadow: 1px 1px 2px black;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* Specifics */

.absolute-bottom-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.absolute-bottom-center {
  position: absolute;
  left: 45%;
  bottom: 0px;
}
.absolute-bottom-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.mew {
  position: absolute;
  top: -100px;
  right: 100px;
  height: 200px;
  transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
}

.mew-2 {
  position: absolute;
  right: 80px;
  height: 200px;
  transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
}

.einstein {
  position: absolute;
  bottom: -50px;
  right: 160px;
  height: 300px;
}

.ash {
  position: absolute;
  top: 50px;
  right: 220px;
  height: 400px;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
