
/* Logo */
.max-logo {
  background: no-repeat url("/public/max_logo.png");
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
}

/* Backgrounds */
.slide-background.blurred {
  opacity: 0.4 !important;
  filter: blur(10px);
}
.slide-background.blurred .noblur {
  opacity: 1 !important;
  filter: blur(0px);
}

/* Images */
img {
  border-radius: 1rem;
  /* filter: drop-shadow(.1rem .1rem 1rem rgb(20, 20, 20)); */
  margin: 0px !important;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.squared {
  border-radius: 0rem;
}
.round {
  border-radius: 50%;
}
.right {
  float: right;
}
.highlight {
  filter: drop-shadow(.1rem .1rem .5rem #fff);
  box-shadow: none;
}
.highlight-gold {
  filter: drop-shadow(.1rem .1rem .5rem rgb(229, 160, 12));
  box-shadow: none;
}
.highlight-title {
  filter: drop-shadow(0rem 0rem .2rem #fff);
  box-shadow: none;
}


/* Text */

p {
  color: rgb(218, 218, 218);
  font-size: 80%;
}

.grey {
  color:rgb(100, 100, 100);
}

.bright {
  color: rgb(255, 196, 0);
}

.smaller {
  font-size: 60%;
}

.vertical-middle {
  vertical-align: middle;
}

/* Columns */

.container {
  display: flex;
}
.col {
  flex: 1;
}

/* Lists */

li.no-dot {
  list-style-type: none;
}

ol.summary {
  background-color: rgba(20, 20, 20, 0.6);
  padding: 20px 20px 20px 60px;
  text-shadow: 1px 1px 2px black;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* Specifics */

.mew {
  position: absolute;
  top: -100px;
  right: 100px;
  height: 200px;
  transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
}

.mew-2 {
  position: absolute;
  bottom: -220px;
  right: 80px;
  height: 200px;
  transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
